.navbar-brand img {
    height: 32px;

}
.navbar, .navbar.navbar-default {
    border-bottom: 2px solid #EA002A;
    background-color: #fff;
    color: #000;
}
.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #EA002A;
}
.navbar .dropdown-menu .active > a, .navbar.navbar-default .dropdown-menu .active > a {
    color: #EA002A;
}
.navbar .dropdown-menu .active > a:hover, .navbar.navbar-default .dropdown-menu .active > a:hover, .navbar .dropdown-menu .active > a:focus, .navbar.navbar-default .dropdown-menu .active > a:focus {
    color: #EA002A;
}
.navbar .dropdown-menu li > a:hover, .navbar.navbar-default .dropdown-menu li > a:hover, .navbar .dropdown-menu li > a:focus, .navbar.navbar-default .dropdown-menu li > a:focus {
    color: #EA002A;
}

/*!*!* inputs *!*!*/

.form-group.is-focused .form-control {
    outline: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#EA002A), to(#EA002A)), -webkit-gradient(linear, left top, left bottom, from(#BFBFBF), to(#BFBFBF));
    background-image: -webkit-linear-gradient(#EA002A, #EA002A), -webkit-linear-gradient(#BFBFBF, #BFBFBF);
    background-image: -o-linear-gradient(#EA002A, #EA002A), -o-linear-gradient(#BFBFBF, #BFBFBF);
    background-image: linear-gradient(#EA002A, #EA002A), linear-gradient(#BFBFBF, #BFBFBF);
    -webkit-background-size: 100% 2px, 100% 1px;
    background-size: 100% 2px, 100% 1px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.form-group label, .form-group label.control-label {
    color: #4E4044 !important;
}

.form-group.is-focused label, .form-group.is-focused label.control-label {
    color: #4E4044 !important;
}

.radio input[type=radio]:checked ~ .check {
    background-color: #4E4044 !important;
}

.radio input[type=radio]:checked ~ .circle {
    border-color: #4E4044 !important;
}


.round {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #ffffff;
    color: #EA002A;
    text-align: center;
}

.round.round-sm {
    height: 20px;
    width: 20px;
    line-height: 20px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 0.7em;
    background: #EA002A;
    color:#fff;
}

.round.round-color {
    height: 20px;
    width: 20px;
    line-height: 20px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 0.7em;
    background: #ffffff;
    color:#EA002A;
}
.rcorners {
    border-radius: 25px;
    background: #EA002A;
    padding-bottom: 5px;
    padding-right:4px;
    padding-left: 4px;;
    color:#EA002A;

}

.rcorners-active {
    height: 20px;
    width: 20px;
    line-height: 20px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 0.7em;
    background: #ffffff;
    color:#EA002A;
}

.round.orange {
    background-color: #ffffff;
}


.panel-discover > .panel-heading
{
    background-color:#EA002A;
}
.panel-discover .panel-body{
    border: 1px solid darkgray;
}
.rounds{
    margin-top: 7px;
}

.btn-banorte{
    background-color: #EA002A;
    color:white!important;
}

.btn-banorte:hover{
    background-color: #EA002A !important;
    color: white!important;
}

.div-discover{
    border:1px solid #EA002A;
}

.center-element {
    margin: 0px auto;
}

.center-align {
    text-align: center;
}
.glyphicon-ok
{
    color: #EB0029;
}

.link-orange{
    color:#EA002A;
}

.btn-element{
    margin:auto;
    display:block;
}

.white-text{
    color:#fff !important;
}

h1,h2,h3,h4,h5,h6{
    color:#EA002A !important;
}

.control-label{
    color: #4E4044 !important;
}

.panel-banorte{
    background:url("/content/images/7b1d421c.png") !important;
}

.banorte-margin{
    margin-top: 70px;
}
