<div class="well">
    <h2>Customers</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="customer.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Customer
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>First Name</span></th>
                    <th><span>Last Name</span></th>
                    <th><span>Middle Name</span></th>
                    <th><span>Suffix</span></th>
                    <th><span>Email</span></th>
                    <th><span>Primary Phone</span></th>
                    <th><span>Dob</span></th>
                    <th><span>Ssn</span></th>
                    <th><span>Emp Status</span></th>
                    <th><span>Total Gross Income</span></th>
                    <th><span>House Rent</span></th>
                    <th><span>Total Assets</span></th>
                    <th><span>Occupation</span></th>
                    <th><span>Exp</span></th>
                    <th><span>Qualification</span></th>
                    <th><span>Housing Status</span></th>
                    <th><span>Having Debit Acc</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="customer in vm.customers track by customer.id">
                    <td><a ui-sref="customer-detail({id:customer.id})">{{customer.id}}</a></td>
                    <td>{{customer.firstName}}</td>
                    <td>{{customer.lastName}}</td>
                    <td>{{customer.middleName}}</td>
                    <td>{{customer.suffix}}</td>
                    <td>{{customer.email}}</td>
                    <td>{{customer.primaryPhone}}</td>
                        <td>{{customer.dob | date:'mediumDate'}}</td>
                    <td>{{customer.ssn}}</td>
                    <td>{{customer.empStatus}}</td>
                    <td>{{customer.totalGrossIncome}}</td>
                    <td>{{customer.houseRent}}</td>
                    <td>{{customer.totalAssets}}</td>
                    <td>{{customer.occupation}}</td>
                    <td>{{customer.exp}}</td>
                    <td>{{customer.qualification}}</td>
                    <td>{{customer.housingStatus}}</td>
                    <td>{{customer.havingDebitAcc}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="customer-detail({id:customer.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="customer.edit({id:customer.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="customer.delete({id:customer.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
