<div class="well">
<div class="row">
    <div class="col-md-5 col-md-offset-1" id="panel">
        <div class="panel panel-discover">
            <div class="panel-heading panel-banorte">
                <div class="row">
                    <div class="col-md-7">
                        <h5 class="white-text"><b>Banorte Card Application</b></h5>
                    </div>
                    <div class="col-md-5 text-right">
                        <div class="rounds">
                            <span class="round round-sm round-color">1</span>
                            <span class="round round-sm">2</span>
                            <span class="round round-sm">3</span>
                            <span class="rcorners">Done</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <h3>Welcome to Banorte.</h3>
                <p>Tell us about yourself and apply in minutes</p>
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" name="fName" placeholder="First Name" class="form-control" ng-model="vm.firstName" required>
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="lName" placeholder="Last Name" class="form-control" ng-model="lName" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" name="mName" placeholder="Middle Name (Optional)" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <select class="form-control">
                                <option>Select Grade</option>
                                <option>JR</option>
                                <option>SR</option>
                                <option>II</option>
                                <option>III</option>
                                <option>IV</option>
                                <option>V</option>
                            </select>
                        </div>
                    </div>
                </form>
                <h5>Pick a card design</h5>
                <div class="row">
                    <div class="col-md-12">
                        <input type="radio" value="1" name="card" ng-model="card1" ng-change='vm.changeImg(1)'><img src="../../../content/images/1.png" height="25" width="40"></li>
                        <input type="radio" value="2" name="card" ng-model="card2" ng-change='vm.changeImg(2)'><img src="../../../content/images/2.png" height="25" width="40"></li>
                        <input type="radio" value="1" name="card" ng-model="card3" ng-change='vm.changeImg(3)'><img src="../../../content/images/3.png" height="25" width="40"></li>
                        <input type="radio" value="1" name="card" ng-model="card4" ng-change='vm.changeImg(4)'><img src="../../../content/images/4.png" height="25" width="40"></li>
                        <input type="radio" value="1" name="card" ng-model="card5" ng-change='vm.changeImg(5)'><img src="../../../content/images/5.png" height="25" width="40"></li>
                        <input type="radio" value="1" name="card" ng-model="card6" ng-change='vm.changeImg(6)'><img src="../../../content/images/6.png" height="25" width="40"></li>
                        <input type="radio" value="1" name="card" ng-model="card7" ng-change='vm.changeImg(7)'><img src="../../../content/images/7.png" height="25" width="40"></li>
                    </div>
                </div>
                <button type="button" class="btn btn-banorte" ng-click="vm.next()">Continue</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-md-offset-1">
        <div class="row">
            <div class="col-md-12">
                <img src="content/images/{{vm.imgName}}.png" class="img-responsive center-element" alt="Not Found">
            </div>
            <div class="col-md-12 center-align">
                <a data-toggle="modal" data-target="#exampleModalLong">Card Info</a>
                <span>|</span>
                <a>See rates Rewards & Other Info</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
    </div>
</div>
</div>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">


        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <img src="content/images/{{vm.imgName}}.png" class="img-responsive" alt="Not Found" width="250px" height="250px">

            </div>
            <div class="modal-body">

                <h4>Your Cash Rewards</h4>

                <span class="glyphicon glyphicon-ok"></span><span> 5% Cashback Bonus in categories that change throughout the year like gas, restaurants, and more up to the quarterly maximum. Signing up each time is free and easy.</span>
                <hr>
                <span class="glyphicon glyphicon-ok"></span><span> 1% Cashback Bonus on all other purchases with no limit on how much you can earn.</span>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>
