<div class="well">
<div class="row">
<div class="col-md-10 col-md-offset-1" id="panel">
    <div class="panel panel-discover">
        <div class="panel-heading panel-banorte">
            <div class="row">
                <div class="col-md-10"><h5 class="white-text"><b>Banorte Card Application</b></h5></div>
                <div class="col-md-2">
                    <div class="rounds">
                        <span class="round round-sm">1</span>
                        <span class="round round-sm round-color">2</span>
                        <span class="round round-sm">3</span>
                        <span class="rcorners">Done</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <img src="content/images/{{vm.imageName}}.png" class="img-responsive" alt="Not Found">
                    <div class="col-md-12">
                        <span class=""><a data-toggle="modal" data-target="#exampleModalLong">Card Info</a></span>
                        <a class="pull-right" ui-sref="cardapplication">Back</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Hi {{vm.userName}} </h3>
                    <h5>Now we need some basic information.</h5>
                </div>
                <div class="col-md-3">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="row">
                        <div class="col-md-12">
                        <label class="control-label">Your Address</label>
                    <input type="text" name="address" placeholder="Street address.. Example: 123 Mt. Street" class="form-control" ng-model="address" required>
                     </div>
                        <div class="col-md-12">
                            <input type="text" name="apt" placeholder="Apt/Suite/Floor.. Example: 15 B Mt. (Optional)" class="form-control" ng-model="apt">
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-8">
                            <input type="text" name="city" placeholder="City" class="form-control" ng-model="city" required>
                        </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                            <div class="col-md-8">
                                <select class="form-control" id="sel1">
                                    <option value="" disabled selected>Choose One</option>
                                        <option value="DIF">Distrito Federal</option>
                                        <option value="AGS">Aguascalientes</option>
                                        <option value="BCN">Baja California</option>
                                        <option value="BCS">Baja California Sur</option>
                                        <option value="CAM">Campeche</option>
                                        <option value="CHP">Chiapas</option>
                                        <option value="CHI">Chihuahua</option>
                                        <option value="COA">Coahuila</option>
                                        <option value="COL">Colima</option>
                                        <option value="DUR">Durango</option>
                                        <option value="GTO">Guanajuato</option>
                                        <option value="GRO">Guerrero</option>
                                        <option value="HGO">Hidalgo</option>
                                        <option value="JAL">Jalisco</option>
                                        <option value="MEX">M&eacute;xico</option>
                                        <option value="MIC">Michoac&aacute;n</option>
                                        <option value="MOR">Morelos</option>
                                        <option value="NAY">Nayarit</option>
                                        <option value="NLE">Nuevo Le&oacute;n</option>
                                        <option value="OAX">Oaxaca</option>
                                        <option value="PUE">Puebla</option>
                                        <option value="QRO">Quer&eacute;taro</option>
                                        <option value="ROO">Quintana Roo</option>
                                        <option value="SLP">San Luis Potos&iacute;</option>
                                        <option value="SIN">Sinaloa</option>
                                        <option value="SON">Sonora</option>
                                        <option value="TAB">Tabasco</option>
                                        <option value="TAM">Tamaulipas</option>
                                        <option value="TLX">Tlaxcala</option>
                                        <option value="VER">Veracruz</option>
                                        <option value="YUC">Yucat&aacute;n</option>
                                        <option value="ZAC">Zacatecas</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <input type="text" name="ZIP" placeholder="ZIP" class="form-control" ng-model="ZIP" required>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                        <label class="control-label">Date Of Birth</label>
                        <input type="date" name="dob" ng-model="dob" class="form-control" >
                                <a>Why we need this?</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label">Employment Status</label>
                                <select class="form-control" id="status">
                                    <option>--Please Select--</option>
                                    <option>Employed Full Time</option>
                                    <option>Employed Part Time</option>
                                    <option>Self Employed</option>
                                    <option>Un Employed</option>
                                    <option>Retired</option>
                                    <option>Others</option>
                                    <option>College Students</option>
                                </select>
                                <a>Why we need this?</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label">Total Anual gross Income</label>
                                <input type="number" name="income" ng-model="income" class="form-control"placeholder="Amount" >
                                <p>You do not have to include alimony, child support, or separate maintenance income unless you want it considered as a basis for repayment.</p>
                            </div></div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label">Total Available Assets</label>
                                <input type="number" name="assests" placeholder="Amount" class="form-control" ng-model="amount" required>
                            </div></div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label">Soacial Security Number</label>
                                <input type="number" name="ssn" placeholder="XXX-XX-XXXX" class="form-control" ng-model="ssn" required>
                                <a>Why we need this?</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label">Monthly Housing/Rent Payment</label>
                                <input type="number" name="ssn" placeholder="Amount" class="form-control" ng-model="rent" required>
                            </div></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-banorte" ui-sref="step3">Continue</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <img src="content/images/{{vm.imageName}}.png" class="img-responsive" alt="Not Found" width="250px" height="250px">
            </div>
            <div class="modal-body">
                <h4>Your Cash Rewards</h4>
                <span class="glyphicon glyphicon-ok"></span><span> 5% Cashback Bonus in categories that change throughout the year like gas, restaurants, and more up to the quarterly maximum. Signing up each time is free and easy.</span>
                <hr>
                <span class="glyphicon glyphicon-ok"></span><span> 1% Cashback Bonus on all other purchases with no limit on how much you can earn.</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-banorte" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

