<div class="well">
<div class="row">
    <div class="col-md-10 col-md-offset-1" id="panel">
        <div class="panel panel-discover">
            <div class="panel-heading panel-banorte">
                <div class="row">
                    <div class="col-md-10"><h5 class="white-text"><b>Banorte Card Application</b></h5></div>
                    <div class="col-md-2">
                        <div class="rounds">
                            <span class="round round-sm">1</span>
                            <span class="round round-sm">2</span>
                            <span class="round round-sm round-color">3</span>
                            <span class="rcorners">Done</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <img src="content/images/{{vm.imageName}}.png" class="img-responsive" alt="Not Found">
                        <div class="col-md-12">
                            <span class=""><a data-toggle="modal" data-target="#exampleModalLong1">Card Info</a></span>
                            <a class="pull-right" ui-sref="step2">Back</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3>Thanks {{vm.userName}} </h3>
                        <h5>We just need a bit more information.</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                <label class="control-label">Occupation</label>
                                    <select class="form-control" id="occupation">
                                        <option>Please Select</option>
                                        <option>ATM Owner</option>
                                        <option>Accountant</option>
                                        <option>Education</option>
                                        <option>Art/Design/Media</option>
                                    </select>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label">Housing Status</label>
                                    <select class="form-control" id="sel1">
                                        <option>Please Select</option>
                                        <option>Own Rent</option>
                                        <option>Rent</option>
                                        <option>Others</option>
                                    </select>
                                </div></div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label">Length of Time Current Residence</label>
                                    <select class="form-control" id="time">
                                        <option>Please Select</option>
                                        <option>Years</option>
                                        <option>Months</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" name="email" placeholder="Company Name" class="form-control" ng-model="emp" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label">Do you have checking or debit Account?</label>
                                    <div class="col-md-12">
                                        <label class="radio-inline" for="radios-0">
                                            <input type="radio" name="radios" id="radios-0" value="3" checked="checked">
                                            Yes
                                        </label>
                                        <label class="radio-inline" for="radios-1">
                                            <input type="radio" name="radios" id="radios-1" value="4">
                                            No
                                        </label>
                                    </div>
                                </div></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label">Length of Employment</label>
                                    <input type="text" name="email" placeholder="Years" class="form-control" ng-model="emp" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label">Business Phone</label>
                                    <input type="text" name="phone" placeholder="XX-XXXXXXXX" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Do you have Saving,IRA,Money Market Account?</label>
                            <div class="col-md-12">
                                <label class="radio-inline" for="radios-0">
                                    <input type="radio" name="radios" id="radios-00" value="yes" checked="checked">
                                    Yes
                                </label>
                                <label class="radio-inline" for="radios-1">
                                    <input type="radio" name="radios" id="radios-01" value="no">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label">Highest Level of educayion achieved</label>
                                    <select class="form-control" id="edu">
                                        <option>Please Select</option>
                                        <option>Less Than A High School Diploma</option>
                                        <option>High School Diploma</option>
                                        <option>Some College Or Associate Degree</option>
                                        <option>Bachelor's Degree</option>
                                        <option>Advance Degree</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label">Are you Us Citizen?</label>
                                    <div class="col-md-12">
                                        <label class="radio-inline" for="radios-0">
                                            <input type="radio" name="radios" id="radios-10" value="yes" checked="checked">
                                            Yes
                                        </label>
                                        <label class="radio-inline" for="radios-1">
                                            <input type="radio" name="radios" id="radios-11" value="no">
                                            No
                                        </label>
                                    </div>
                                    <p>
                                        The Federal government requires that we know our customers and citizenship information is an important part of that. We will not use this information in our decision whether to approve you for a credit card.
                                    </p>
                                </div></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label">Please select your Country of citizenship </label>
                                    <select class="form-control" id="citizen">
                                        <option>Please Select</option>
                                        <option>India</option>
                                        <option>USA</option>
                                        <option>Dubai</option>
                                    </select>
                                </div></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" name="mother" placeholder="   Mothers's Maiden Name" class="form-control" ng-model="emp" required>
                                    <a>Why we need this</a>
                                </div></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-banorte" data-toggle="modal" data-target="#exampleModalLong">Continue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">Submit your Application</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               <p>Please carefully read the Important Information below which includes rates, fees, rewards, and other important information before submitting your application.
                   If you would like to receive your application decision electronically and, if approved, receive future disclosures and other important information about your Discover card Account electronically instead of paper, please read and accept the Electronic Communications terms and conditions below.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalLong1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <img src="content/images/{{vm.imageName}}.png" class="img-responsive" alt="Not Found" width="250px" height="250px">

            </div>
            <div class="modal-body">
                <h4>Your Cash Rewards</h4>
                <span class="glyphicon glyphicon-ok"></span><span> 5% Cashback Bonus in categories that change throughout the year like gas, restaurants, and more up to the quarterly maximum. Signing up each time is free and easy.</span>
                <hr>
                <span class="glyphicon glyphicon-ok"></span><span> 1% Cashback Bonus on all other purchases with no limit on how much you can earn.</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-banorte" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
