
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCustomerLabel">Create or edit a Customer</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.customer.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.customer.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                    ng-model="vm.customer.firstName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                    ng-model="vm.customer.lastName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_middleName">Middle Name</label>
            <input type="text" class="form-control" name="middleName" id="field_middleName"
                    ng-model="vm.customer.middleName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_suffix">Suffix</label>
            <input type="text" class="form-control" name="suffix" id="field_suffix"
                    ng-model="vm.customer.suffix"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.customer.email"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_primaryPhone">Primary Phone</label>
            <input type="number" class="form-control" name="primaryPhone" id="field_primaryPhone"
                    ng-model="vm.customer.primaryPhone"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_dob">Dob</label>
                <div class="input-group">
                    <input id="field_dob" type="text" class="form-control" name="dob" uib-datepicker-popup="{{dateformat}}" ng-model="vm.customer.dob" is-open="vm.datePickerOpenStatus.dob"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dob')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ssn">Ssn</label>
            <input type="text" class="form-control" name="ssn" id="field_ssn"
                    ng-model="vm.customer.ssn"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_empStatus">Emp Status</label>
            <input type="text" class="form-control" name="empStatus" id="field_empStatus"
                    ng-model="vm.customer.empStatus"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_totalGrossIncome">Total Gross Income</label>
            <input type="text" class="form-control" name="totalGrossIncome" id="field_totalGrossIncome"
                    ng-model="vm.customer.totalGrossIncome"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_houseRent">House Rent</label>
            <input type="text" class="form-control" name="houseRent" id="field_houseRent"
                    ng-model="vm.customer.houseRent"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_totalAssets">Total Assets</label>
            <input type="text" class="form-control" name="totalAssets" id="field_totalAssets"
                    ng-model="vm.customer.totalAssets"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_occupation">Occupation</label>
            <input type="text" class="form-control" name="occupation" id="field_occupation"
                    ng-model="vm.customer.occupation"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_exp">Exp</label>
            <input type="text" class="form-control" name="exp" id="field_exp"
                    ng-model="vm.customer.exp"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_qualification">Qualification</label>
            <input type="text" class="form-control" name="qualification" id="field_qualification"
                    ng-model="vm.customer.qualification"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_housingStatus">Housing Status</label>
            <input type="text" class="form-control" name="housingStatus" id="field_housingStatus"
                    ng-model="vm.customer.housingStatus"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_havingDebitAcc">Having Debit Acc</label>
            <input type="checkbox" class="form-control" name="havingDebitAcc" id="field_havingDebitAcc"
                    ng-model="vm.customer.havingDebitAcc"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
