<div class="well" ng-cloak>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="../../content/images/slide1.jpg">
                    </div>

                    <div class="item">
                        <img src="../../content/images/slide2.jpg">
                    </div>

                    <div class="item">
                        <img src="../../content/images/slide3.jpg">
                    </div>
                    <div class="item">
                        <img src="../../content/images/slide4.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 center-align center-element">
            <h2>Welcome to Gentera</h2>
            <h4>Credit Cards</h4>
            <p> All our credit cards are built to give you great rewards and the treatment you deserve, from our flagship cash back credit card to our flexible travel credit card.</p>
            <p> Highest in Customer Satisfaction with Credit Card Companies, Three Years in a Row" by J.D. Power.</p>
            <h4>Building a Credit History</h4>
            <p>   Check your FICO® Credit Score for free on mobile and online. If you're building or rebuilding your history, explore our secured credit card. And our student credit cards can help you start out right.</p>
            <button class="btn btn-banorte" ui-sref="cardapplication">Apply for card</button>
        </div>
    </div>
    <br><br><br><br>
</div>
