
<div class="well">
    <h2><span>Customer</span> {{vm.customer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>First Name</span></dt>
        <dd>
            <span>{{vm.customer.firstName}}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
            <span>{{vm.customer.lastName}}</span>
        </dd>
        <dt><span>Middle Name</span></dt>
        <dd>
            <span>{{vm.customer.middleName}}</span>
        </dd>
        <dt><span>Suffix</span></dt>
        <dd>
            <span>{{vm.customer.suffix}}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
            <span>{{vm.customer.email}}</span>
        </dd>
        <dt><span>Primary Phone</span></dt>
        <dd>
            <span>{{vm.customer.primaryPhone}}</span>
        </dd>
        <dt><span>Dob</span></dt>
        <dd>
            <span>{{vm.customer.dob | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Ssn</span></dt>
        <dd>
            <span>{{vm.customer.ssn}}</span>
        </dd>
        <dt><span>Emp Status</span></dt>
        <dd>
            <span>{{vm.customer.empStatus}}</span>
        </dd>
        <dt><span>Total Gross Income</span></dt>
        <dd>
            <span>{{vm.customer.totalGrossIncome}}</span>
        </dd>
        <dt><span>House Rent</span></dt>
        <dd>
            <span>{{vm.customer.houseRent}}</span>
        </dd>
        <dt><span>Total Assets</span></dt>
        <dd>
            <span>{{vm.customer.totalAssets}}</span>
        </dd>
        <dt><span>Occupation</span></dt>
        <dd>
            <span>{{vm.customer.occupation}}</span>
        </dd>
        <dt><span>Exp</span></dt>
        <dd>
            <span>{{vm.customer.exp}}</span>
        </dd>
        <dt><span>Qualification</span></dt>
        <dd>
            <span>{{vm.customer.qualification}}</span>
        </dd>
        <dt><span>Housing Status</span></dt>
        <dd>
            <span>{{vm.customer.housingStatus}}</span>
        </dd>
        <dt><span>Having Debit Acc</span></dt>
        <dd>
            <span>{{vm.customer.havingDebitAcc}}</span>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
