<div class="row banorte-margin">
    <div class="col-md-12">
        <div class="col-md-3"></div>
        <div class="col-md-6 well">
            <div><img src="../../../content/images/logo.PNG" class="img-responsive center-element" height="36" width="142"/></div>
            <h2 class="text-center">Sign in</h2>
            <div class="alert alert-danger" ng-show="vm.authenticationError">
                <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>
            <form class="form" role="form" ng-submit="vm.login($event)">
                <div class="form-group">

                    <div class="col-md-10 col-md-offset-1">
                        <label for="username" class="control-label label-discover">Login</label>
                        <input type="text" class="form-control" id="username" placeholder="Your username" ng-model="vm.username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-1">
                        <label for="password" class="control-label label-discover">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Your password"
                               ng-model="vm.password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-1">
                        <label for="rememberMe">
                            <input type="checkbox" id="rememberMe" ng-model="vm.rememberMe" checked>
                            <label class="control-label label-discover">Remember me</label>
                        </label>
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <button type="submit" class="btn btn-banorte btn-element">Sign in</button>
                </div>

            </form>
            <div class="col-md-10 col-md-offset-1">
                <div class=" ">
                    <a class="alert-link link-orange" href="" ng-click="vm.requestResetPassword()">Did you forget your password?</a>
                </div>
                <div class=" ">
                    You don't have an account yet? <a class="alert-link link-orange" href="" ng-click="vm.register()">Register a new account</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>


