
<div class="well">
    <h2><span>Address</span> {{vm.address.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Address Line 1</span></dt>
        <dd>
            <span>{{vm.address.addressLine1}}</span>
        </dd>
        <dt><span>Address Line 2</span></dt>
        <dd>
            <span>{{vm.address.addressLine2}}</span>
        </dd>
        <dt><span>City</span></dt>
        <dd>
            <span>{{vm.address.city}}</span>
        </dd>
        <dt><span>State</span></dt>
        <dd>
            <span>{{vm.address.state}}</span>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
            <span>{{vm.address.country}}</span>
        </dd>
        <dt><span>Customer</span></dt>
        <dd>
            <a ui-sref="customer-detail({id:vm.address.customer.id})">{{vm.address.customer.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
